<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 p-flex p-flex-align-center p-flex-justify-content-sb">
				<ul>
					<li class="p-hamburger">
						<span></span>
						<span></span>
						<span></span>
					</li>
					<li>
						<img src="assets/img/h_search.png" alt="The icon for h_search" class="search-img p-cursor">
					</li>
				</ul>
				<ul>
					<li>
						<a href="" [routerLink]="['/']" [routerLinkActive]="['is-active']">Home</a>
					</li>
					<li>
						<a href="">About</a>
					</li>
					<li>
						<a href="">Portfolio</a>
					</li>
					<li>
						<a href="">Reach</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>