<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<div class="p-profile"></div>
			</div>
			<div class="col-sm-7 p-rgt-sec">
				<div>
					<span class="p-tag">fashion</span>
					<h1 class="mt-4">Timothy Li</h1>
					<p class="p-desc mt-3 mb-4">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
					<a href="" class="p-readmore">Read More <img src="assets/img/rm_arrow_right.png" alt="The icon is for readmore arrow" class="read-more-img ms-2"></a>
				</div>
				<div>
					<h6>Subscribe to our Newsletter</h6>
					<form action="" class="row subscribe-form">
							<input type="text" class="form-control form-control-sm col-sm-6" id="email" placeholder="Enter your email here" autocomplete="off">
							<button class="btn btn-warning col-sm-3">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
